@using (Html.BeginForm("Searchh", "Default", FormMethod.Get, new { @class = "col-lg-4 col-6 text-left" })) 
{

    <form action="">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Arama">
            <div class="input-group-append">
                <span class="input-group-text bg-transparent text-primary">
                    <button type="submit"><i class="fa fa-search"></i>ara</button>

                </span>
            </div>
        </div>
    </form>

}